


.azeret-mono-normal {
  font-family:"Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* banner styles */

.banner-container{
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 26px 221px 45px 221px;
}

.banner-tittle {
    width: 998;
    height: 136;
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-description{
width: 852px;
height: 52px;
color: #0D1321;
font-size: 16px;
font-weight: 400;
text-align: center;
}
.btn-primary{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    
}
.btn-secondary{
    width: 140px;
    height: 45px;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
     text-align: center;
    color:#0D1321;
}


.btn-submit{
    width: 120px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 20px 17px 20px;
    margin: 0px 16px;
    border-radius: 8px;
    background: rgb(255, 255, 255)


}
/* section styles */
 .section-styles{
   margin: 0 auto;
   padding: 50px;
}

.section-style{
width: 852px;
height: 113px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 130px 250px 0px 150px;
margin: 48px 100px;
}
.section-tittle{
    width: 850px;
    height: 37px;
    font-weight: 800px;
    font-size: 32px;
    color: #0D1321;
    text-align: center;
}
.section-description{
    width: 850px;
    height: 50px;
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
    text-align: center;
}
.banner-title-1{
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin: 48px 250px 48px 270px;
    padding-top: 50px;
    border-radius: 16px;
}

.tittle{
    width: 390px;
    height: 72px;
    font-size: 24px;
    font-weight: 700px;
    color: #0D1321B3;
}
.tittle-description{
    width: 468px;
    height: 52px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
}

.tittle-2{
    width: 475px;
    height: 70px;
    font-size: 24px;
    font-weight: 700px;
    color: #0D1321B3;


}

.banner-title-2 {
    display: flex;
    padding-left: 250px;
    padding-top: 15px;
    margin-top: 32px;
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 16px;
    }
       
.banner-title-3{
    display: flex;
    gap: 115px;
    justify-content: space-between;
    margin: 48px 250px 48px 270px;
    padding-top: 50px;
    border-radius: 16px;
}
.banner-section{
    width: 946px;
    height: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:50px 250px 40px 0;
    background: rgb(255, 255, 255);

}

.section-video{
    width: 1076px;
    height: 550px;
    flex: none;
    margin: 10px 0px;
    border-radius: 16px;
}

   

.skills{
    display: flex;
    gap: 24px;
    
}
.skill-content{
    width: 364px;
    height: 299px;
    padding: 40px;
    margin: 20px 24px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.06);

}
.skill-anchor{
    display: flex;
    flex-direction: column;
    margin: 24px 0px;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
    color: #0D1321;
}
.footer-content{
    background-image: url(../assets/handshake.jpg);
    width: 1070px;
    height: 363px;
    border-radius: 16px;
    text-align: center; 
    background-position: center;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
    
    
    

}
.footer-elements{
    width: 1044px;
    height: 185px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 32px;
margin: 70px 50px 70px 50px;
}
.footer-tittle{
    width: 292px;
    height: 36px;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 32px;
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
}
.footer-description{
    width: 606px;
height: 52px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
margin: 16px 0px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}

.message-submit{
    width: 684px;
    height: 57px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    margin: 24px 0px;
}
.message{
    width: 548px;
height: 57px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 19px 20px 19px 20px;
margin: 0px 16px;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;
background: rgb(255, 255, 255);
color: #0D132166;
}

.footer-style{
    width: 456px;
    height: 23px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}
.footer{
display:grid ;
    
}
