

.azeret-mono-normal {
  font-family:"Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* banner styles */

.banner-container{
    background-image: url(../assets/Hero-bg.png);
    width: 1440px;
    height: 652px;

}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 26px 221px 45px 221px;
}

.banner-tittle {
    width: 998;
    height: 136;
    color: #0D1321;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.banner-description{
width: 852px;
height: 52px;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
text-align: center;
}
.btn{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    
}
